.button{
    color:white;
    overflow: hidden;
    padding: 5px  24px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}
.red{
    background-color: red
}
.default{
    background-color: blue;
}
.disabled{
    background-color: black;
}
.secondary{
    background-color: orange;
}
